<%#= render 'search' %>

<div class="row-fluid">
  <div class="span12">
    <hr />
    <%= render 'top_underlying' %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <hr />
    <%= render 'top_indicators' %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <hr />
    <h1>Top Instruments by Volume (Global / Individual)</h1>
    <div class="span4">
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <hr />
    <h1>Top Instruments by Size (Global / Individual)</h1>
    <div class="span4">
    </div>
  </div>
</div>

<script>
  $("input#underlying_name").autocomplete({
      source: function(request, response) {
        $.getJSON('<%=underlying_name_search_path%>?underlying_name=<%= params[:underlying_name]%>', { underlying_name: request.term }, response);
      },
      minLength: 1, delay: 0
  });
</script>